html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	
	font: 30px, 'Roboto Condensed','Ariel', sans-serif;
	width: 100%;
	margin:auto;
}

/*******START HEADER************/
header  {
	margin-left: 100px;
	overflow: hidden;

}
.header {
	position: absolute;
	width: 350px;
	padding: 0 auto;
	margin: 0 auto;

}
header h1 {
	display: block;
	text-transform: uppercase;
	font-size: 28px;
	color: #00aad4;
	font-family: sans-serif;
	float:left;
	padding-top: 10%;
	text-align: center;

}
header h2 {
	display: block;
	font-size: 16px;
	color: #00aad4;
	padding-top: 18%;

}
header img{
	display: inline-block;
 	float: left;
    margin:auto;
    padding-top:5%;
  
}
.nav img {
	width: 16px;
	height: 12px;
}
a{
	text-decoration: none;
	color:#999999;
}

a:hover
{
color:#000;
}

header nav {
	margin-top: 5%;
	margin-bottom: 10%;
}
.nav{
	float:right;
	margin-right: 100px;
}


.nav li{
	display:inline-block;;
	color:#999999;
	font-size: 14px;
	padding-left:35px;
	font-family: sans-serif;

}

/*START OF THE BODY*/
#slider
{	height: 400px;
	overflow: hidden;

}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;

}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;

}
.mySlides img {
  width: 100%;
  height: 100%;

}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -44px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;


}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 1px 0 0 1px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/***************/
#slider h2{
	position: absolute; 
	top:440px; 
	padding-left: 100px; 
	overflow: hidden;
	color:#ffffff;
	font-size: 48px;
	float: right;
	font-family: sans-serif;

}

#slider p {
	position: absolute;
	padding-right: 100px;
	top:440px; 
	color:#ffffff;
	float: right;
	text-align: center;
	padding-left: 630px;
	font-size: 16px;
	font-family: sans-serif;
}

.wrap {
	width: 92%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

#middle{
	background-color:#f2f2f2;
    border-bottom: 1px solid #cccccc;

}
#middle h3{
	font-size: 18px;
	color: #4d4d4d;
	text-align: center;
	font-family: sans-serif;
	padding-top: 50px;
	padding-bottom: 20px;

}
#middle p{
	font-size:14px;
	color: #808080;
	font-family: sans-serif;
	display: block;
	padding-left: 70px;
	padding-right: 11px;

}

p.big {
    line-height: 150%;
}
#middle li {
	display: inline-block;
	width: 32%;
	padding-bottom: 2%;
}

h3.star::before{
	content: '';
	background: url(spritesheet3.png) no-repeat -357px -2px;
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;

}

h3.clock::before{
	content: '';
	background: url(spritesheet3.png) no-repeat -2px -2px;
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
}

h3.circle::before {
	content: '';
	background: url(spritesheet3.png) no-repeat -28px -2px;
	width: 23px;
	height: 22px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;


}

#welcome h3{
	text-transform: uppercase;
	color:#4d4d4d;
	font-size: 28px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	font-family: sans-serif;
}

#welcome h3::after{
	content: "";
	background: url(spritesheet3.png) no-repeat-55px -2px;
	width: 298px;
	height: 1px;
	display:block;
	background-color:#cccccc;
	margin-left:430px;
	margin-top:40px;
	padding-left: 20px;
	padding-right: 20px;
}

#welcome p{
	font-size: 14px;
	font-family: sans-serif;
	color: #808080;
	text-align: center;
	font-weight: normal;
	word-spacing: 1.5px;
	padding-bottom: 3%;
	padding-right: 9%;
	padding-left: 9%;

}

#about_us{
	background-image: url('2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#about_us li
{ 	display: inline-block;
	background-color:#fff;
	text-align:center;
	width: 28%;
	margin: 0 1%;
	padding-bottom: 2%;

}
#about_us ul {
	padding-bottom: 2%;
	margin-left: 8%;

}

#about_us h3 {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 28px;
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
}

#about_us h4{
	text-transform: uppercase;
	font-family: sans-serif;
	color: #4d4d4d;
	font-size: 18px;
	text-align: center;
	margin: 1em auto;
}

#about_us p{
	font-family: sans-serif;
	font-size: 14px;
	color: #808080;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
}

#about_us h4::before{
	content: '';
	background: url(spritesheet3.png) no-repeat -357px -2px;
	width: 22px;
	height: 22px;
	margin: 1em auto;
	display: block;
	padding-right: 2px;
}

#icons {
	text-align: center;
	
	margin: 1% auto;
}

#icons img {
	vertical-align: middle;
	padding-left:1%;
	padding-right: 1%;
	
}	
footer {
	height: 135px;
	background-color:#393939;

}

.logofooter {
	margin-left: 9%;
	margin-top: 20px;
	float: left;
}

#footer{
	height: 97px;
}
#footer ul {
	margin-right: 8%;
	padding-top: 30px;


}

#footer li{
	float: right;
	display: inline-block;
	color: #b3b3b3;
	font-size: 12px;
	font-family: sans-serif;
	margin: 0 10px;

}
#footericons {
	display:block;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	top: 50%;
	left: 50%;
	margin-top: -30px;

}

#footericons li {
	display: inline-block;
	float: right;
	padding-left: 1%;
}

#footericons ul {
	padding-right:9%;
	padding-bottom: 35px;
}

}
#footericons a{
	padding-right: 8%;
	
}

#footericons img {
	display:block;

}

#ariete{
	float: left;
	background-color: #000000;
	height: 40px;
	width: 100%;

}

#ariete p {

	font-size: 12px;
	font-family:sans-serif;
	padding-left: 12%;
	color:#808080;
	padding-top: 20px;
}